h1 {
    font-family: "Courier New", Monospace;
   	font-size: 4.5rem;
	color: #dbdbdb;
    text-shadow: 3px 3px black;
}

body {
    text-align: center;
    background: linear-gradient(to bottom left, rgb(81,91,212), rgb(129,52,175),rgb(221,42,123), rgb(254,218,119), rgb(245,133,41));
}


legend {
    font-size: 1.1rem;
    color: #cccccc;
    text-shadow: 3px 3px black;
}

label {
    display: block;
    font-size: .8rem;
    text-shadow: 1px 1px #969ba3;

}

img {
    width: 25%; 
    height: auto;
    border: 3px solid black;
}
