h1 {
    font-family: "Courier New", Monospace;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

label {
    display: block;
    font-size: .8rem;
}

img {
    width: 25%; 
    height: auto;
}